<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Главная страница</title>
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>
    <div>
      <p><a href="/calculator"><button id="b1">Калькулятор</button></a></p>
      <p><a href="/integer_equation"><button id="b2">Целочисленное уравнение</button></a></p>
      <p><a href="/decimal_equation"><button id="b3">Десятичное уравнение</button></a></p>
    </div>
  </body>
</html>
